
table.GeneratedTable {
  width: 100%;
  background-color: #ffffff;
  border-collapse: collapse;
  border-width: 2px;
  border-color: #ffe47a;
  border-style: solid;
  color: #000000;
}

table.GeneratedTable td, table.GeneratedTable th {
  border-width: 2px;
  border-color: #ffe47a;
  border-style: solid;
  padding: 3px;
}

table.GeneratedTable thead {
  background-color: #eed677;
}
