{% extends "base.html" %}

{% block title %} Catherapy {% endblock %}

{% block body %}

<form action="/select-dates" method="post">
<table>
    {% for day in time_slots %}
    <tr>
    {% for time in day %}
    <td>
    <input type="checkbox"  
    id="timeslots"
    name="time_slots"
    value="{{time}}" /> 
    
    {{time.strftime('%A, ')}}

   {{time.strftime('%I:%M %p')}}


    </td>
{% endfor %}
</tr>
{% endfor %}
</table>
<div>
<button type="submit">Update your calendar</button> 
</div>
</form>

{% endblock %}
