{% extends 'base.html' %}

{% block body %}
<div class="container">
  <div class="row justify-content-center align-items-center" style="height: 95vh;">
    <div class="col-md-6 border rounded p-3" style="color :hsla(0, 0%, 0%, 0.992);">

      <div style="color :hsla(0, 0%, 0%, 0.992);">
        <h1>Welcome to Catherapy</h1>
      </div>


      <form action="/login" method="POST">
        <label for="exampleInputEmail1" class="form-label">Email address</label>

        <input type="email" name="email" class="form-control">



        <label for="exampleInputPassword1" class="form-label">Password</label>

        <input type="password" name="password" class="form-control">


        <div id="emailHelp" class="form-text">{% with messages = get_flashed_messages() %}
          {% if messages %}
          {% for message in messages %}
          {{ message }}
          {% endfor %}
          {% endif %}
          {% endwith %}
        </div>
        <button type="submit" class="btn btn-primary mt-1"
          style="background-color :hsla(0, 0%, 0%, 0.992);">Login</button>
      </form>

      <div class="row d-flex justify-content-between mx-5 mt-2">
        <div>
          <a href="/patient-registration" class="text-start text-decoration-none"
            style="color :hsla(0, 0%, 0%, 0.992);">Register as a
            Patient</a>
        </div>
        <div>
          <a href="/doctor-registration" class="text-end text-decoration-none"
            style="color :hsla(0, 0%, 0%, 0.992);">Register as a
            Doctor</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center align-items-center">
    <a href="/about" class="text-center text-decoration-none" style="color :hsla(0, 0%, 0%, 0.992);">© Sabryna
      Hancock</a>
  </div>
</div>

<video autoplay muted loop id="myVideo">
  <source src="../static/img/13.mp4" type="video/mp4">
</video>
<style>



body {
  background-size: cover;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}
</style>

{% endblock %}